.login-form {
    max-width: 500px;
    min-width: 80px;
    margin: 0 auto;
      padding: 20px;
      background-color: #fcf4e140;
      border-radius: 8px;
      border: 2px white solid;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .long-ahell-word {
      font-size: 6em;
    }
  
    .validation-error {
      background-color:rgb(197, 9, 9);
      border-radius: 10px;
    }
  
    .validation-error p{
      padding-left: 10px;
      font-size: 1em;
      margin-bottom: 0px;
    }
  
    .bottom-links {
      margin-top: 10px;
      text-align: center;
    }
  
    .bottom-links a{
      color:whitesmoke;
    }
  
    .login-container {
      max-width: 600px;
      margin-top: 5%;
      width: 50%;
      margin-left: calc(13.666% - 1px);
      margin-right: 36.333%;
    }
  
  
    #headline-label {
      color:white;
      font-size: 5em;
      margin-bottom: 0.3em;
      margin-right: 0.5em;
      padding-left:0.2em;
    }
  
    .login-form form {
      display: flex;
      flex-direction: column;
    }
    
    .form-group {
      margin-bottom: 15px;
    }
    
    .form-group label {
      display: block;
      margin-bottom: 5px;
      color: white;
    }
    
    .form-group input[type="text"],
    .form-group input[type="password"] {
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
    }
    
    button[type="submit"]:hover {
      background-color: #004494;
    }
  
    input {
      width: calc(100% - 20px);
    }
  
    
    @media only screen and (max-width: 600px) {
      .login-container {
        margin: auto;
        width: 80%;
      }
  
      #headline-label {
        font-size: 4em;
      }
    }
    