
.lights img {
    animation: lightword 10s linear infinite;
    cursor: pointer;
}

.lights {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -140px;
}

@keyframes lightword {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        transform: translateY(-80vh);
        opacity: 0;
    }
}