.section {
    background-color: #05053b;
    height: 70%;
    max-height: 85%;
    max-width: 80%;
    margin: auto;
    margin-top: 6%;
    border-radius: 20px;
}

.sectionHeadline {
    text-align: center;
    color: whitesmoke;
    font-size: 60px;
    margin-bottom: 15px;
    margin-top: 0px;
}