.profileSection {
    padding: 80px;
    max-height: 85%; 
    overflow-y: auto; 
}

.profileSection p{
    margin: 15px;
}

.random {
    text-align: right;
}

.row {
    max-height: 55%; 
    overflow: auto; 
    display: flex; 
    flex-wrap: wrap; 
}

.cell {
    flex: 1; 
}

@media screen and (max-width: 800px) {
    .row {
        flex-direction: column; 
    }

    .cell {
        width: 100%; 
    }
}

@media only screen and (min-width: 1280px) {
    .section {
        width: 60%;
    }
  }