.hero {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/bg_night.png);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

#profile-hero {
    background-image: url(../assets/bg_lighthouse.png);
}

#list-hero {
    background-image: url(../assets/bg_sunset.png);
    background-size: cover;
}

.toaster-messages {
    margin-right: 80px;
}