.modal {
    width: clamp(40%, 600px, 90%);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: #05053b;
    opacity: 0.95;
}

#word-name {
   font-size: 3em; 
   color: white;
   margin-bottom: 20px;
   text-align: center;
   margin-top: 0px
}

.example {
    padding-left: 30px;
    margin-top: 0px;
}

ul {
    padding:10px 30px;
}

p {
    font-size: 1.6em;
}

hr {
    padding: 0;
    border: none;
    border-top: medium double #ffffff;
    color: #ffffff;
    text-align: center;
    margin: 0;
    overflow: visible;
}

/* hacky css I found on the web, old school ig */
hr::after {
    content: '§';
    padding: 0 4px;
    top: -11px;
    position: relative;
    background: #05053b;
}

ul li {
    color:white;
}

#input-area {
    margin-top: 50px;
    margin-bottom: 30px;
    height: 40px;
}

#check-wrapper {
    text-align: center;
}

#feedback {
    margin-top: 20px;
    border-radius: 6px;
    border:4px solid;
    padding: 10px;

    p {
        color: unset;
    }
}

.diamond {
    color: #99ffeb !important;
}

#found-at {
    margin-top: 40px;
    text-align: right;
    i {
        font-size: 1.3em;
    }
}

.rating0 {
    border-color: rgb(199, 56, 56) !important;
    background: #eb6c6c3d;
    color: rgb(199, 56, 56) !important;;
}

.rating1 {
    border-color: rgb(219, 132, 32) !important;
    color: rgb(219, 132, 32) !important;;
    background: #c281443d;
}

.rating2 {
    border-color: rgb(76, 107, 207) !important;
    color: #aebadf !important;;
    background: #456faf3d;}

.rating3 {
    border-color: rgb(85, 241, 241) !important;
    color: rgb(85, 241, 241) !important;;
    background: #59a5c43d;
} 