.word-list li {
    color: white;
}

.innerSection {
    padding: 60px;
    overflow: auto;
    max-height: 85%; 
}

#catalogHeadline {
    color:whitesmoke;
    font-size: 70px;
    margin-bottom: 20px;
    text-align: center;
}