.word-list li {
    color: white;
}

.innerSection {
    padding: 60px;
    overflow: auto;
    max-height: 85%; 
}

#catalogHeadline {
    color:whitesmoke;
    font-size: 70px;
    margin-bottom: 20px;
    text-align: center;
}

#catalogHeader {
    display: flex;
    justify-content: space-between;
}

#favoritesFilter {
    border: none;
    background-color: transparent;
    margin-top: auto;
    margin-bottom: auto;
}

.center-spinner{
    display: flex;
    justify-content: center; 
    align-items: center;  
    margin-top: 10%;
}

@media only screen and (max-width: 600px) {
    #catalogHeadline {
        color:whitesmoke;
        font-size: 40px;
    }

    #favoritesFilter {
        padding-bottom: 45px;
    }
}