.words-container {
    max-height: 55%; /* Maximum height before scrolling */
    overflow: auto; /* Makes the container scrollable */
    display: flex; /* Using Flexbox for layout */
    flex-wrap: wrap; /* Allows items to wrap to the next line */
    gap: 10px; /* Space between items */
    padding: 40px
}

.words-container::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    border-radius: 10px; /* Optional: for rounded corners */
}

/* Styling the scrollbar handle */
.words-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px; /* Optional: for rounded corners */
}

/* Styling the scrollbar width */
.words-container::-webkit-scrollbar {
    width: 8px;
}

.words-container {
    /* For webkit browsers */
    scrollbar-width: thin;
    scrollbar-color: #888 #f0f0f0;
}