*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primaryColor: #282a57;
    --secondaryColor: #e4e4e4;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
}

.parallax-outer {
    overflow: hidden;
}

.parallax {
    height: 110vh;
    width: 100%;
    position: relative;
}

.parallax img {
    position: absolute;
}

@media only screen and (max-width: 800px) {
    .mountain-2 {
        bottom: 50px !important;
        z-index: 2;
    }

    .mountain-1 {
        bottom: 80px !important;
    }

    .about {
        margin-top: -85px;
        position: absolute;
        padding-top:100px;
    }

    .copy h1 {
        font-size: 5em !important;
    }
}

@media only screen and (max-width: 1600px) {
    .about {
        margin-top: -65px;
        position: absolute;
        padding-top:65px;
    }
}

.mountain-3,
.mountain-2,
.mountain-1 {
    width: 100%;
    bottom: 0;
    z-index: 3;
}

.mountain-2 {
    bottom: 16px;
    z-index: 2;
}

.mountain-1 {
    bottom: 40px;
    z-index: 1;
}

.sun {
    top: 40%;
    left: 30%;
    width: 40%;
}

.clouds-left {
    left: 0;
    width: 20%;
}

.clouds-right {
    right: 0;
    width: 20%;
}

.clouds-bottom {
    bottom: 0px;
    width: 100%;
}

.stars {
    top: -620px;
    left: 0;
    width: 100%;
}

.copy {
    position: absolute;
    bottom: 10%;
    left: 50%;
    right: 50%;
    z-index: 0;
    color: var(--secondaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: -1;
}

.copy h1 {
    font-size: 10rem;
}

.copy a {
    width:180px;
    margin-left:15px
}

.copy span {
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
    padding: 1rem;
    font-weight: 800;
    border-radius: 0.5rem;
    opacity: -1;
}

.about {
    color: var(--secondaryColor);
    background-color: var(--primaryColor);
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20%;
}

.about h2 {
    color: var(--secondaryColor);
    font-size: 5rem;
}

.about p {
    margin-top: 30px;
}

#citat-landing {
    font-size: 1.6em;
}

#autor {
    text-align: right;
    margin-bottom: 100px;
}

#orizonturi-noi {
    margin-top: 30px;
}

#orizonturi-noi:link { 
    text-decoration: none; 
  } 

  
/* The webkit scrollbar attribute has limited support e.g missing in Firefox */
::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px; 
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    margin-top: 40px;
    margin-right: 2px;
}