.word-box-hidden {
    flex: 1 1 150px; /* Flex-grow, flex-shrink, and base width */
    min-width: 100px; /* Minimum width */
    max-width: 200px; /* Maximum width */
    height: 100px; /* Height of the box */
    padding: 10px;
    background: #756e6e82; /* Background color */
    color:#f0f0f0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 6px;
    /* Additional styling (border, border-radius, etc.) */
}

svg {
    width: 32px;
    float:right;
    color: white;
}