.word-box {
    flex: 1 1 150px;
    min-width: 100px; 
    max-width: 200px;
    height: 100px; 
    padding: 10px;
    background: #756e6e82; 
    color:#f0f0f0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 6px;
}